<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <title>about</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}

        <img class="potrait" src="img/robot.png">
        <p>Hi! Myself Deni Rubhan</p>
        <p>Automation Test Engineer</p>
        <p>Currently working in HCL Technologies</p>
        <p>Skilled in Java, REST API, Selenium, TestNG, Cucumber, TeamCity, Kibana, Elastic Search, API Automation, Drools, Spring Boot, Vaadin, JSF.</p>
        <p>Holding ISTQB certification in Foundational Level in Software Testing and Agile Tester Foundation Ext </p>
        <p>With a Bachelor of Engineering - BE focused in Electronics and Communications Engineering from Panimalar Engineering College. </p>

        </div>
        
        {{>footer}}
    </body>
</html>
